* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* font-size: 112.5%;
  line-height: 24px;
  -webkit-text-size-adjust: 112.5%;
  -ms-text-size-adjust: 112.5%;
  text-size-adjust: 112.5%; */
}

a {
  text-decoration: none;
  color: #007f90;
}

a:hover {
  text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
}
